<div class="card-body table-responsive">
    <a href="/nhanvien/them" class="btn btn-primary mb-2"><i class="bi bi-plus-lg"></i> Thêm mới</a> 
    <table class="table table-bordered table-hover table-sm mb-0"> 
        <thead> 
            <tr> 
                <th width="5%">#</th> 
                <th>Tên nhân viên</th> 
                <th width="5%">Sửa</th> 
                <th width="5%">Xóa</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% var stt = 1; %> 
            <% nhanvien.forEach(cd => { %> 
                <tr> 
                    <th class="align-middle"><%= stt++ %></th> 
                    <td class="align-middle"><%= cd.TenChuDe %></td> 
                    <td class="align-middle text-center"> 
                        <a href="/nhanvien/sua/<%= cd._id %>"><i class="bi bi-pencil-square"></i></a></a> 
                    </td> 
                    <td class="align-middle text-center">                         <a href="/nhanvien/xoa/<%= cd._id %>" onclick="return confirm('Bạn có muốn xóa nhân viên <%= cd.TenNhanVien %> không?');"><i class="bi bi-trash text-danger"></i></a> 
                    </td> 
                </tr> 
            <% }); %> 
        </tbody> 
    </table> 
</div> 